<h1>Matt's App</h1>
<p>An app for Startup Institute</p>

<%= form_tag("/sms/send", method: "post") do %>
    <form_tag>
        <textarea placeholder="Write message here!" id="message"></textarea>
        <input type="text" placeholder="Phone Number" id="phone">
        <input type="submit" value="Send" id="submitbttn">
    </form_tag>
<% end %>
